
* {
    box-sizing: border-box;
}

BODY {
    background-color: #f7f5ea;
    font: 14px/20px 'Lucida Grande', 'Helvetica Neue', sans-serif;
    color: #101020;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

A {
    text-decoration: none;
}

#title {
    position: absolute;
    top: 0;
    height: 1.5em;
    left: 0;
    right: 0;
    border-bottom: 1px solid #666;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7eed4), color-stop(96.7%, #c4ae88), to(#ebe2ca));
    text-align: center;
    font-size: 143%;
    line-height: 1.5em;
}

#content {
    position: absolute;
    top: 2.15em;
    bottom: 0;
    left: 0;
    right: 0;
}

NAV {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 15em;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #666;
    background-color: #ede8d5;
}

NAV * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

NAV OL {
    list-style-type: none;
    padding: 0;
}

NAV LI {
    margin-bottom: 2px;
}

NAV A {
    font-weight: bold;
    color: #000;
}

NAV #qwandoc-outline {
    margin: 1em 0;
    padding: 0;
    font-size: 86%;
}

NAV .qwandoc-outline-2 A {
    color: #444;
}

.qwandoc-navitem:hover {
    background-color: rgba(255,255,255,.4);
}

.discloser {
    cursor: pointer;
}

.discloser, .nodiscloser {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    height: 1.5em;
    width: 25px;  /* for some reason, using ems misaligns headings */
    text-align: right;
    border: none;
    background-color: inherit;
}

.discloser-target.discloser-open {
    height: auto;
}

.discloser-target.discloser-closed {
    height: 0;
}

.qwandoc-outline-2 .discloser, .qwandoc-outline-2 .nodiscloser {
    width: 37px;
}

.qwandoc-outline-3 .discloser, .qwandoc-outline-3 .nodiscloser {
    width: 49px;
}

ARTICLE {
    position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 15em;
    right: 0;
    padding: 0 2em;
}

H1 {
    font-weight: normal;
    margin-top: 3em;
    margin-left: -1em;
    margin-right: -1em;
    padding: .4em 1em;
    font-size: 200%;
    background-color: #dbd9cf;
}

H1:first-child {
    margin-top: 0;
}

H2 {
    font-weight: normal;
}

H3 {
    font-weight: bold;
    font-size: 100%;
}

PRE {
    overflow-x: auto;
}

